/* Custom title bar */
.title-bar {
  height: 32px;
  background-color: var(--color-bg-title-bar);
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-app-region: drag; /* Make the entire title bar draggable */
  user-select: none;
}

.title-bar-drag-area {
  flex-grow: 1;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.app-title {
  color: var(--color-white);
  font-size: 13px;
}

.window-controls {
  display: flex;
  height: 100%;
  -webkit-app-region: no-drag; /* Make buttons not draggable */
}

.window-control {
  width: 45px;
  height: 32px; /* Match the height of the title bar */
  border: none;
  background: transparent;
  color: var(--color-text-sidebar);
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  line-height: 1; /* Ensure the text is centered */
  margin: 0;
  padding: 0;
}

.window-control:hover {
  background-color: var(--color-bg-sidebar-hover);
}

.close-button:hover {
  background-color: var(--color-bg-close-hover);
  color: var(--color-white);
}